{# templates/admin/custom_page/index.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Descargar App{% endblock %}

{% block page_content %}
    <p>Aplicación generada el 13 de Septiembre.</p>
    <a href="{{ path('download_file', { 'file': 'application-84c21c62-696d-44c4-af60-0de71ff09871.apk' }) }}">Descargar App</a>
{% endblock %}
